<%- include('../partials/header') %>

<section id="show-page">
    <div>Category:</div>
    <div><%= category.category %></div>

    <div></div>
    <% if (workouts.length >0) { %>
        <%workouts.forEach(function (w){%>
            <div>Workout: <%= w.workoutName %></div>
            <div>Sets: <%= w.sets %></div>
            <div>Reps: <%= w.reps %></div>
            <% console.log(w.userFavorites, "this is a boolean") %>
    <form action="/categories/<%= category._id %>/workouts/<%= w._id %>?_method=PUT" method="POST" >
        <label>Favorite</label>
        <input type="checkbox" name="userFavorites" <%= w.userFavorites === true ? 'checked' : '' %>>
        <button type="submit">Save As Favorite</button>
  </form>
<%})%>

  <% } else { %>
  <div>No workouts yet</div>
  <%}%>
</section>

<a href="/workouts/new/<%= category.id %>">New Workout</a>

<% workouts.forEach(function(w) { %>

    <form action="/workouts/<%= w._id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">X</button>
    </form>
    <% }); %>

<%- include('../partials/footer') %>