<%- include('../partials/header') %>

<section id="show-page">
    <div>Category:</div>
    <div><%= category.category %></div>

    <div></div>
    <% if (workouts.length >0) { %>
        <%workouts.forEach(function (w){%>
            <div>Workout: <%= w.workoutName %></div>
            <div>Sets: <%= w.sets %></div>
            <div>Reps: <%= w.reps %></div>
        <%})%>
  <% } else { %>
  <div>No workouts yet</div>
  <%}%>
</section>

<a href="/workouts/new/<%= category.id %>">New Workout</a>

<% workouts.forEach(function(w) { %>

    <form action="/workouts/<%= w._id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">X</button>
    </form>
    <% }); %>

    <h1>My Favorites!</h1>
  <form action="/workouts/<%= workouts.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="workouts" value="<%= workouts.workoutName %>">
    <input type="checkbox" name="userFavorites" <%= workouts.userFavorites ? 'checked' : '' %>>
    <button type="submit">Save As Favorite</button>
  </form>

<%- include('../partials/footer') %>